.header {
	padding: 40px 0;

	background-color: #fff;
	box-shadow: 0px 1px 32px 0px rgba(0, 0, 0, 0.38);
	// .header__link

	&__link {
	}

	// .header__logo

	&__logo {
	}

	// .header__menu

	&__menu {

	}

	// .header__burger

	&__burger {
	}

	// .header__list

	&__list {
		display: flex;
		padding: 0;
		margin: 0;

		list-style: none;
	}

	// .header__list-item

	&__list-item {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}

	// .header__list-link

	&__list-link {
		// .header__list-link--active
		padding: 10px 15px;

		font-size: 16px;
		font-weight: 300;
		text-transform: uppercase;
		text-decoration: none;

		color: #000;
		border-radius: 11px;

		transition: .3s;
		
		&--active {
			color: #fff;
			background-color: #5194ff;
		}

		&:hover {
			color: #fff;
			background-color: #5194ff;
		}
	}

	// .header__phone

	&__phone {
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;

		color: #000;
	}
}
.container {
}
.row {
}
.col-3 {
}
.col-7 {
}
.col-2 {
}
